/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KmReg";
  src: url("../assets/fonts/KantumruyPro-Regular.ttf");
}

@font-face {
  font-family: "KmMed";
  src: url("../assets/fonts/KantumruyPro-Medium.ttf");
}

@font-face {
  font-family: "KmSemiBold";
  src: url("../assets/fonts/KantumruyPro-SemiBold.ttf");
}

@font-face {
  font-family: "EngLight";
  src: url("../assets/fonts/Quicksand-Light.ttf");
}

@font-face {
  font-family: "EngMedium";
  src: url("../assets/fonts/Quicksand-Medium.ttf");
}

@font-face {
  font-family: "EngReg";
  src: url("../assets/fonts/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "EngSemiBold";
  src: url("../assets/fonts/Quicksand-SemiBold.ttf");
}

@font-face {
  font-family: "EngBold";
  src: url("../assets/fonts/Quicksand-Bold.ttf");
}

@font-face {
  font-family: "LoraReg";
  src: url("../assets/fonts/Lora-Regular.ttf");
}

@font-face {
  font-family: "LoraBold";
  src: url("../assets/fonts/Lora-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EngReg", "KmReg";
}

html,
body {
  height: 100%;
  background: #ffffff;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 60px;
  background: #323232;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 26px;
  padding: 0 20px 0 20px;
  color: aliceblue;
  position: sticky;
  top: 0;
}

.content {
  flex: 1;
  overflow-y: auto;
}

.custom .mat-dialog-container {
  border-radius: 20px !important;
  height: auto;
}
