.sub-content {
  width: 100%;
  padding: 2% 5%;
  display: flex;
  justify-content: space-between;
}

.cart {
  width: 25%;
}

@media screen and (max-width: 968px) {
  .sub-content {
    display: flex;
    flex-direction: column;
    padding: 1% 2.5% !important;
  }

  .cards {
    width: 100% !important;
  }

  .cart {
    width: 40% !important;
  }
}

@media screen and (max-width: 968px) {
  .cart {
    width: auto !important;
  }
}

.cards {
  width: 74.5%;
  display: flex;
  flex-flow: row wrap;
}

.card-item {
  display: flex;
  width: 100%;
  padding: 0.8em;
}

@media all and (min-width: 37.5em) {
  .card-item {
    width: calc(100% / 12 * 6);
  }
}

@media all and (min-width: 56.25em) {
  .card-item {
    width: calc(100% / 12 * 4);
  }
}
