.content {
  width: 100%;
  padding: 2% 5%;
}

.product-detail {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 50px;
  justify-content: space-between;

  .detail {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.zoom-photo {
  min-width: 30%;
  max-width: 30%;
  max-height: 70vh;
  overflow: hidden;
  position: relative;
}

.zoom-photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.5s ease-in-out;
}

.zoom-photo:hover img {
  animation: zoom-cycle 4s infinite;
}

@keyframes zoom-cycle {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.4);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
