<div class="container">
  <header>The Identity Store</header>
  <div class="content">
    <div class="cards">
      <div class="card-item" *ngFor="let product of products">
        <div class="card-body">
          <img class="card-img" src="{{ product?.image }}" alt="" />
          <div style="padding: 5%; display: grid; gap: 10px">
            <h4 class="card-title center">{{ product?.title }}</h4>
            <p class="card-text">${{ product?.price }}</p>
            <p class="card-text">{{ product?.category }}</p>
            <div class="btn" (click)="onAddToChart(product)">Add to Chart</div>
          </div>
        </div>
      </div>
    </div>
    <div class="chart">Your Chart</div>
  </div>
</div>
<router-outlet></router-outlet>
