<div class="custom">
  <mat-dialog-content>
    <div class="checkout-container text-black">
      <h1 class="text-[22px] font-bold">
        {{ "confirm your purchase" | translate }}
      </h1>
      <div>
        {{ "your cart contains" | translate }} {{ data.length }}
        {{ "item" | translate }}{{ data.length !== 1 && letterS ? "s" : "" }}
      </div>
      <div class="flex items-center">
        {{ "total price" | translate }}:
        <div class="ms-1 font-bold">
          ${{ calculateTotalPrice() | number: "1.2-2" }}
        </div>
      </div>
    </div>
    <br />
    <div class="buttons">
      <button
        mat-stroked-button
        class="cancel-btn"
        (click)="this.dialogRef.close()"
      >
        {{ "cancel" | translate }}
      </button>
      <button
        mat-raised-button
        class="btn bg-[#37a4ec]"
        type="submit"
        (click)="onConfirm()"
      >
        {{ "confirm" | translate }}
      </button>
    </div>
  </mat-dialog-content>
</div>
